
{% extends "layout.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% include "./includes/provider-name-and-search.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row flex">

    <div id="left-nav-wrapper" class="govuk-grid-column-one-quarter flex-grow-1"> 
        {% include "./includes/left-nav.html" %}
      </div>

   <div class="govuk-grid-column-three-quarters flex-grow-1">


 



<!-- ------------------tab 4 Qualification achievement rates -------------------- -->

<section class="">
  
  <h2 class="govuk-heading-l">Funding rules monitoring reports</h2>
  
  <p>Help with <a target="blank" href="https://www.gov.uk/guidance/esfa-financial-assurance-monitoring-the-funding-rules">ESFA financial assurance: monitoring the funding rules</a>.</p>


  <h3 class="govuk-heading-m">Academic year 2019 to 2020</h3>


  <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Return period and download</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Return period</th>

      
      <th class="govuk-table__header" scope="col">Download</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R05</th>
      
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V3-REPORTS-0312210-091400.xsls</a>  (1.7MB)</td>
    </tr>
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header visually-hidden" scope="row">R05 </th>
      
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V2-REPORTS-0312210-091400.xsls</a>  (1.7MB)</td>
    </tr>
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header visually-hidden" scope="row">R05 </th>
      
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a>  (1.7MB)</td>
    </tr>

    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R04</th>
      
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a>  (1.7MB)</td>
    </tr>
  </tbody>
  </table>

  <h3 class="govuk-heading-m">Academic year 2018 to 2019</h3>


  <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Return period and download</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Return period</th>

      <th class="govuk-table__header" scope="col">Download</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R14</th>
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a> (1.3MB)</td>
    </tr>
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R13</th>
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a>  (1.2MB)</td>
    </tr>
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R12</th>
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a>  (1.8MB)</td>
    </tr>

       <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R11</th>
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a>  (1.1MB)</td>
    </tr>
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R10</th>
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a>  (1.2MB)</td>
    </tr>
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R09</th>
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a>  (1.9MB)</td>
    </tr>
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R08</th>
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a>  (1.7MB)</td>
    </tr>

    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R07</th>
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a>  (1.7MB)</td>
    </tr>
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R06</th>
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a>  (1.3MB)</td>
    </tr>
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R05</th>
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a> (1.3MB)</td>
    </tr>
    <tr class="govuk-table__row qf qar">
      <th class="govuk-table__header" scope="row">R04</th>
      <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">V1-REPORTS-0312210-091400.xsls</a>  (1.3MB)</td>
    </tr>
    
  </tbody>
  </table>
</section>



</div>
</div>

<h3 class="govuk-heading-s">ESFA support desk</h3>
<p>For help and support call us on 0370 267 0001, Monday to Thursday, 8:30am-5pm,<br> or Fridays, 8.30am-4pm. Or
<!-- <a href="sde.servicedesk@education.gov.uk">sde.servicedesk@education.gov.uk</a></p> -->
log a query on the <a target="blank" href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">enquiry form</a>.</p>


</div>

</div>

{% include "./includes/auto-js.html" %}

{% endblock %}
