
{% extends "layout.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% include "./includes/provider-name-and-search.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row flex">

    <div id="left-nav-wrapper" class="govuk-grid-column-one-quarter flex-grow-1"> 
        {% include "./includes/left-nav.html" %}
      </div>

    <div class="govuk-grid-column-three-quarters">



        <h2 class="govuk-heading-l" id="submission">Latest submissions
            <span class="govuk-caption-m">View submissions made in return period 6</span>
          </h2>

<h3 class="govuk-heading-m">Collections</h3>

   <p><span class="govuk-!-font-weight-bold">Year 2019 to 2020:</span>
ILR, EAS, ESF Round 2. <br> No further ILR returns from 15 February 2020</p>
<p><span class="govuk-!-font-weight-bold">Year 2018 to 2019:</span>
ILR, EAS, ESF Round 1, ESF Round 2</p>



<section >

    
<p>Each time you submit a new file your reports will be updated. To view your latest figures you should download the reports for your most recent submission.</p>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

      <span id="waste-hint" class="govuk-hint">
        Filter your submission types
      </span>
      <div id="typeFilter" class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input id="ILR" class="govuk-checkboxes__input" name="waste" type="checkbox" value="ilr">
          <label class="govuk-label govuk-checkboxes__label" for="ILR">
            ILR
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input id="EAS" class="govuk-checkboxes__input" name="waste" type="checkbox" value="eas">
          <label class="govuk-label govuk-checkboxes__label" for="EAS">
            EAS
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input id="ESF" class="govuk-checkboxes__input" name="waste" type="checkbox" value="esf">
          <label class="govuk-label govuk-checkboxes__label" for="ESF">
            ESF
          </label>
        </div>
      </div>
    </fieldset>
  </div>


  <h2 class="govuk-heading-l">Academic year 2019 to 2020</h2>

  <p id="returnOpeningTime"></p>

  <h3 id="r06Header" class="govuk-heading-m">R05</h3>
  
  <!-- <h3 class="govuk-heading-m">R05</h3> -->

  <table id="r06Table" class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Dates and file name</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Date</th>
        <th class="govuk-table__header" scope="col">Type</th>
      <th class="govuk-table__header" scope="col">File</th>
         <th class="govuk-table__header" scope="col">Submitted by</th>
        <th class="govuk-table__header" scope="col">Reference</th>
    <th class="govuk-table__header" scope="col">Reports</th>

    </tr>
  </thead>
  <tbody id="submissions" class="govuk-table__body">
    <tr class="govuk-table__row ilr">
      <th class="govuk-table__header" scope="row">1 January 2020 at 1:00pm</th>
        <td class="govuk-table__cell">ILR</td>
        <td class="govuk-table__cell"><a href="#">ILR-12345678-1819-20180806-05092018-02.XML</a></td>
        <td class="govuk-table__cell">Bob Afett</td>
        <td class="govuk-table__cell">300</td>
        <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">Download reports</a></td>
    </tr>
    <tr class="govuk-table__row esf">
      <th class="govuk-table__header" scope="row">29 December 2019 at 8:00am</th>
        <td class="govuk-table__cell">ESF</td>
        <td class="govuk-table__cell"><a href="#">SUPPDATA-12345678-ESF-8976-20180806-151209.CSV</a></td>
        <td class="govuk-table__cell">Bob Afett</td>
         <td class="govuk-table__cell">295</td>
        <td class="govuk-table__cell">Failed</td>

    </tr>
    <tr class="govuk-table__row ilr">
      <th class="govuk-table__header" scope="row">19 December 2019 at 1:00pm</th>
        <td class="govuk-table__cell">ILR</td>
        <td class="govuk-table__cell"><a href="#">ILR-12345678-1819-20180806-05092018-01.XML</a></td>
        <td class="govuk-table__cell">Bob Afett</td>
         <td class="govuk-table__cell">200</td>
        <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">Download reports</a></td>

    </tr>
    <tr class="govuk-table__row eas">
      <th class="govuk-table__header" scope="row">18 December 2019 at 1:00pm</th>
        <td class="govuk-table__cell">EAS</td>
        <td class="govuk-table__cell"><a href="#">EAS-12345678-1819-20180806-05092018-01.XML</a></td>
        <td class="govuk-table__cell">Bob Afett</td>
         <td class="govuk-table__cell">500</td>
        <td class="govuk-table__cell"><a href="#" title="Download REPORTS-0312210-091400.zip">Download reports</a></td>

    </tr>
  </tbody>
  </table>


</section>




</div>
</div>

{% include "./includes/auto-js.html" %}

{% endblock %}
