
{% extends "layout.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="search-results.html" class="govuk-back-link">Back to search results</a>
    </div> 
    <div class="govuk-grid-column-one-third">
         
  <label class="govuk-label govuk-!-width-two-thirds govuk-visually-hidden" for="search-provider">
     Search for a provider
  </label>
        <div class="mt15">
                      <input class="govuk-input govuk-!-width-two-thirds" id="provider-search" name="search-provider"
                    type="search" value="" aria-describedby="provider-search"> <a href="search-results.html" type="submit" class="govuk-button">
  Search
</a>
        </div>
        </div>
    </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        
       
       
        <h1 class="govuk-heading-xl">Manchester provider 1 <span class="govuk-caption-l">UKPRN: 12345</span></h1>
        <p><strong class="govuk-tag app-task-list__task-completed ml5" id="eligibility-completed">ESF (6 contracts)</strong> <strong class="govuk-tag app-task-list__task-completed ml5" id="eligibility-completed">EAS</strong> <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed ml5">ILR</strong></p>
        
        
               
        
        <div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Activity for Manchester provider 1
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
        Submission history
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Reports history
      </a>
    </li>
    
  </ul>

  <section class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l" id="submission">Submission history  <span class="govuk-caption-l">RO2</span></h2>
      
      <h3 class="govuk-heading-m">Submissions for 2018 to 2019</h3>
             
              <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Dates and file name</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Date</th>
        <th class="govuk-table__header" scope="col">Type</th>
      <th class="govuk-table__header" scope="col">File</th>
         <th class="govuk-table__header" scope="col">Submitted by</th>
        <th class="govuk-table__header" scope="col">Reference</th>
    <th class="govuk-table__header" scope="col">Reports</th>
    
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">30 October 2018</th>
        <td class="govuk-table__cell">ILR</td>
        <td class="govuk-table__cell"><a href="#">ILR-12345678-1819-20180806-05092018-02.XML</a></td>
        <td class="govuk-table__cell">Bob Afett</td>
         <td class="govuk-table__cell">300</td>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a></td>
    
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">28 October 2018</th>
        <td class="govuk-table__cell">ESF</td>
        <td class="govuk-table__cell"><a href="#">SUPPDATA-12345678-ESF-8976-20180806-151209.CSV</a></td>
        <td class="govuk-table__cell">Bob Afett</td>
         <td class="govuk-table__cell">295</td>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a></td>
        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">24 October 2018</th>
        <td class="govuk-table__cell">ILR</td>
        <td class="govuk-table__cell"><a href="#">ILR-12345678-1819-20180806-05092018-01.XML</a></td>
        <td class="govuk-table__cell">Bob Afett</td>
         <td class="govuk-table__cell">200</td>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a></td>

    </tr>
  </tbody>
</table>
      
      <h3 class="govuk-heading-m">Older submissions</h3>
      <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Dates and file name</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Date</th>
        <th class="govuk-table__header" scope="col">Type</th>
      <th class="govuk-table__header" scope="col">File</th>
         <th class="govuk-table__header" scope="col">Submitted by</th>
        <th class="govuk-table__header" scope="col">Reference</th>
    <th class="govuk-table__header" scope="col">Reports</th>
    
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">14 July 2018</th>
        <td class="govuk-table__cell">ILR</td>
        <td class="govuk-table__cell"><a href="#">ILR-12345678-1819-20180806-05092018-02.XML</a></td>
        <td class="govuk-table__cell">Bob Afett</td>
         <td class="govuk-table__cell">300</td>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a></td>
    
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">18 June 2018</th>
        <td class="govuk-table__cell">ESF</td>
        <td class="govuk-table__cell"><a href="#">SUPPDATA-12345678-ESF-8976-20180806-151209.CSV</a></td>
        <td class="govuk-table__cell">Bob Afett</td>
         <td class="govuk-table__cell">295</td>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a></td>
        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">19 May 2018</th>
        <td class="govuk-table__cell">ILR</td>
        <td class="govuk-table__cell"><a href="#">ILR-12345678-1819-20180806-05092018-01.XML</a></td>
        <td class="govuk-table__cell">Bob Afett</td>
         <td class="govuk-table__cell">200</td>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a></td>

    </tr>
  </tbody>
</table>
                

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l" id="reports">Reports history</h2>
        <p>The reports download includes the last validation report and submission files. You can <a href="#">view period end reports</a> in the Hub.</p>       
        <h3 class="govuk-heading-m">Academic year 2018 to 2019</h3>
       
        <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Return period and download</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Return period</th>
      <th class="govuk-table__header" scope="col">Final reports at period end</th>
     
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R01</th>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>    
  </tbody>
</table>
				
        <h3 class="govuk-heading-m">Academic year 2017 to 2018</h3>
       
        <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Return period and download</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Return period</th>
        <th class="govuk-table__header" scope="col">Download</th>
     
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R14</th>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R13</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.2MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R12</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.8MB)</td>        
    </tr>
       <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R11</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.1MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R10</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.2MB)</td>        
    </tr>
      <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R09</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.9MB)</td>        
    </tr>
       <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R08</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.7MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R07</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.7MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R06</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R05</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R04</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R03</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.5MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R02</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.7MB)</td>        
    </tr> 
       <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R01</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.7MB)</td>        
    </tr>     
  </tbody>
</table>
       <h3 class="govuk-heading-m">Academic year 2016 to 2017</h3>
       
        <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Return period and download</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Return period</th>
        <th class="govuk-table__header" scope="col">Download</th>
     
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R14</th>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R13</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.2MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R12</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.8MB)</td>        
    </tr>      
  </tbody>
</table>
        
        

  </section>
  
</div>


        
		
</div>
</div>

{% endblock %}
