<aside class="interruption-card">
         <div class="data">
		<span class="data-item bold-xlarge">15 days</span>
		<p class="govuk-body-white">R02 closes 6:00pm, Monday 6 October 2018</p>
	</div>
</aside>
			 
<aside role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
           Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="#" target="_blank">
                 Known service issues  
                </a>
              </li> 
				<li>
                <a href="https://www.gov.uk/education/data-collection-for-further-education-providers" target="_blank">
                  ILR specification, validation and funding rules  
                </a>
              </li>
				<li>
                <a href="#" target="_blank">
                  The Hub user administration
                </a>
              </li>
                <li>
                <a href="#" target="_blank">
                  Funding Information Service (FIS)
                </a>
              </li>  
            </ul>
          </nav>
        </aside>





