
{% extends "layout.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

     <a id="backlink" href="#" class="govuk-back-link">Back</a>
     <br>
     <br>

       <h1 class="govuk-heading-xl">Please check your data</h1>


        <h2 class="govuk-heading-m">AEB community learning - programme funding</h2>

        <p>You entered: £29,000.29<br>
        This is more than you contract allocation value of £2,900.29</p>

        <p><a href="final-year-claim-adult">Edit</a></p>
        <br>
        <br>

        <h2 class="govuk-heading-m">Learner support (for procured AEB)</h2>

        <p>You entered: £0.00<br>
        Are you sure you want to leave the figure at £0.00</p>

        <p><a href="final-year-claim-adult">Edit</a></p>
        <br>
        <br>




<!-- ------------------tab 2 -------------------- -->






</div>

</div>


<p><a href="funding-claims.html" role="button" class="govuk-link">Back to funding claims overview</a></p>



{% endblock %}
