<aside class="interruption-card">
         <div class="data">
		<span class="data-item bold-xlarge">15 days</span>
		<p class="govuk-body-white">R06 closes 6:00pm, Thursday 7 February 2019</p>
	</div>
</aside>

<aside role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
           Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="https://www.gov.uk/government/publications/individualised-learner-record-ilr-check-that-data-is-accurate" target="_blank">
                 Known service issues
                </a>
              </li>
				<li>
                <a href="https://www.gov.uk/education/data-collection-for-further-education-providers" target="_blank">
                  ILR specification, validation and funding rules
                </a>
              </li>
				<li>
                <a href="https://logon.fasst.org.uk/" target="_blank">
                  The Hub user administration
                </a>
              </li>
                <li>
                <a href="https://hub.fasst.org.uk/Pages/fis.aspx" target="_blank">
                  Funding Information Service (FIS)
                </a>
              </li>
           <li>
                <a href="https://hub.fasst.org.uk/Learning%20Aims/Pages/default.aspx" target="_blank">
                  Learning Aims Reference Service (LARS)
                </a>
              </li>
            </ul>
          </nav>
        </aside>
