
{% extends "layout.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Search for a provider
      </h1>
        <div class="govuk-form-group">
  <label class="govuk-label govuk-!-width-two-thirds" for="search-provider">
    Enters a provider name, UKPRN or UPIN
  </label>

  <input class="govuk-input govuk-!-width-two-thirds" id="search-provider" name="search-provider" type="text" aria-describedby="search-provider-hint">
  <a href="search-results.html" type="submit" class="govuk-button search-provider-button">
    Search
  </a>
</div>


</div>
      <div class="govuk-grid-column-one-third">
    {% include "./includes/sidebar_help.html" %}
  </div>

</div>

{% endblock %}
