<aside class="interruption-card">
         <div class="data">
		<span class="data-item bold-xlarge">15 days</span>
		<p class="govuk-body-white">until <span class="govuk-!-font-weight-bold">R06 closes</span> on Thursday 7 February at 6:00pm</p>
	</div>
</aside>

<aside role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
           Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="https://www.gov.uk/government/publications/individualised-learner-record-ilr-check-that-data-is-accurate" target="_blank">
                 Known issues
                </a>
              </li>
              <li>
                <a href="https://www.gov.uk/government/publications/apprenticeship-technical-funding-guide" target="_blank">
                 Apprenticeship technical funding guide
                </a>
              </li>
              <li>
                <a href="https://www.gov.uk/guidance/sfa-funding-rules" target="_blank">
                  ESFA Funding rules
                </a>
              </li>
              <li>
                <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/715492/ILRSpecification2018-2019v3.pdf" target="_blank">
                 ILR specification 18/19
                </a>
              </li>
				      <li>
                <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/762726/ILR_Validation_Rules_2018_19_Version_3.xlsx" target="_blank">
                  ILR validation rules
                </a>
              </li>
              <li>
                <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/728764/ProviderSupportManual_18_19_v1.pdf" target="_blank">
                  Provider support manual
                </a>
              </li>

              <!-- <li>
                <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/728764/ProviderSupportManual_18_19_v1.pdf" target="_blank">
                  Provider support manual
                </a>
              </li> -->
            </ul>
            <h2 class="govuk-heading-m" id="subsection-title">
             Tools and services
            </h2>
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="https://hub.fasst.org.uk/Pages/fis.aspx" target="_blank">
                  FIS (Funding Information Service)
                </a>
              </li>
              <li>
                <a href="https://logon.fasst.org.uk/Login/samlIdp?SAMLRequest=fZFda8MgGIX%2FSvA%2BGs26NpIGSssg0I2xjV3sziYmlRrNfHUf%2F34m2c0Y9PZwjud9PCWIQY98F%2FzZPMn3IMEn9WGLVJuyW7phK3ZKKctleiPzU3oq6CplxZqu282qK9o1Sl6lA2XNFjGcoaQGCLI24IXxUcpokWYspflLVnCW84xitsnfUHKIPcoIPyfP3o%2FACdG2twZ3AsBj63ocLuRoe2XIdGPdjijZWwNyejk4w60ABdyIQQL3DX%2Fe3R95PII3i4kHA6NsVKdki5KvQRvgM%2Bz19Oist43VqCpnGLdEr4fiydJNMKiaYCKLaDvAcFFaQxdMq0yPo%2BVDNRL39mNCmxzkVwPiXQBfkqWyKpdVHmJRfXi0WjXfyZ11g7iCTjGdlbhcN1v%2FfsBOa%2Fu5d1J4uUWxTaKEVCX5P3%2F1Aw%3D%3D&RelayState=a53378e3-2aaf-4956-b3bc-109617b56a0f" target="_blank">
                  <!-- https://logon.fasst.org.uk/ -->
                  IDAMS
                  <!-- user admin (IDAMS) -->
                </a>
              </li>
              <li>
                <a href="https://hub.fasst.org.uk/Learning%20Aims/Pages/default.aspx" target="_blank">
                  LARS (Learning Aims Reference Service)
                </a>
              </li>
              <li>
                <a href="https://pddcsdrel.blob.core.windows.net/ilrlet/ILREntryToolDownload.html" target="_blank">
                  Learner entry tool
                </a>
              </li>

              <li>
                <a href="https://skillsfunding.service.gov.uk/" target="_blank">
                  MYESF (Manage Your Education and Skills Funding)
                </a>
              </li>

            </ul>
          </nav>
        </aside>
