
{% extends "layout.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Duplicate records
      </h1>


        <h2 class="govuk-heading-m">14 February 2019</h2>
        <h3 class="govuk-heading-s">Summary</h3>
        <p class="govuk-body">Occurs when information is returned in ‘Primary LLDD and health problem’.</p>
        <h3 class="govuk-heading-s">More detail</h3>
        <p class="govuk-body">This won’t be fixed in the 2018/19 academic year.</p>
        <h3 class="govuk-heading-s">Advice</h3>
        <p class="govuk-body">Submit file with this error showing.</p>

        


</div>
      <div class="govuk-grid-column-one-third">
    {% include "./includes/sidebar_help.html" %}
  </div>

</div>

{% endblock %}
