
{% extends "layout.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<a href="provider-record.html" class="govuk-back-link">Back to provider</a>
<br>
<br>

    </div>
    <div class="govuk-grid-column-one-third margin-top-20">

          <label class="govuk-label govuk-!-width-two-thirds " for="search-provider">
             Search for a provider
          </label>
                <div class="mt15">
                  <input class="govuk-input govuk-!-width-two-thirds" id="provider-search" name="search-provider" placeholder="Name or UKPRN"
                type="search" value="" aria-describedby="provider-search"> <a href="search-results.html" type="submit" class="govuk-button">
          Search
        </a>
        </div>
        </div>
    </div>
<br>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">




      <h1 class="govuk-heading-xl">Funding claim submissions<span class="govuk-caption-l">Manchester provider 1 - UKPRN: 12345, UPIN: 1234</span></h1>



        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m">Final year 2018/19</h2>
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">

               Open for submission
            </dd>

            <dd class="govuk-summary-list__value">

            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="final-year-claim-adult.html">
                Resubmit claim
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              Last submitted: 02 June 2019 at 12.15pm
            </dd>

            <dd class="govuk-summary-list__value">
              Not signed
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                View submission
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <br>
          <br>
          <h2 class="govuk-heading-m">Year end 2018/19</h2>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Last submitted: 02 Jan 2018 at 4.43pm
            </dd>

            <dd class="govuk-summary-list__value">


            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="final-year-sub-report">
                View submission
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <br>
          <br>

          <h2 class="govuk-heading-m">Mid year 2018/19</h2>
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              Last submitted: 02 Jan 2018 at 4.43pm
            </dd>

            <dd class="govuk-summary-list__value">

            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="final-year-sub-report">
                View submission
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              Last submitted: 21 Dec 2018 at 2.15pm
            </dd>

            <dd class="govuk-summary-list__value">

            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="final-year-sub-report">
                View submission
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <br>
          <br>
          <h2 class="govuk-heading-m">Final year 2017/18</h2>
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              Last submitted: 02 Sept 2017 at 12.15pm
            </dd>

            <dd class="govuk-summary-list__value">

               Signed
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="final-year-sub-report">
                View submission
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              Last submitted: 02 Sept 2017 at 10.23am
            </dd>

            <dd class="govuk-summary-list__value">

               Signed
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="final-year-sub-report">
                View submission
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <br>
          <br>
          <h2 class="govuk-heading-m">Year end 2017/18</h2>
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              Last submitted: 02 June 2017 at 12.15pm
            </dd>

            <dd class="govuk-summary-list__value">


            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="final-year-sub-report">
                View submission
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              Last submitted: 02 June 2017 at 10.23am
            </dd>

            <dd class="govuk-summary-list__value">


            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="adult-submitted.html">
                View submission
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
          <br>
          <br>
          <h3>Mid year claim 2017/18</h3>
          <div class="govuk-summary-list__row">

            <dd class="govuk-summary-list__value">
              Last submitted: 21 January 2017 at 12.15pm
            </dd>

            <dd class="govuk-summary-list__value">


            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                View submission
                <span class="govuk-visually-hidden"> contact information</span>
              </a>
            </dd>
          </div>
        </dl>






<!-- ------------------tab 2 -------------------- -->






</div>
<div class="govuk-grid-column-one-third">
<aside class="interruption-card">
         <div class="data">
    <span class="data-item bold-xlarge">4 days</span>
    <p class="govuk-body-white">until <span class="govuk-!-font-weight-bold">year end closes</span> on Thursday 7 February at 6:00pm</p>
  </div>
</aside>

<!-- <aside class="app-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    More actions
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a class="govuk-link" href="what_data_do_you_want_to_submit">Submit another file type</a>
      </li>
      <li>
        <a class="govuk-link" href="return-period">View ILR data</a>
      </li>
    </ul>
  </nav>
</aside> -->

<p></p>
<p></p>
</div>
</div>


<!-- <a href="year-end-claim-adult.html" role="button" class="govuk-button">Enter or confirm data</a> -->

<p class="govuk-body"><a href="exit-survey.html" role="button" class="govuk-link">Log out</a></p>

{% endblock %}
