
{% extends "layout.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Sorry, there’s a problem with this service
      </h1>

      <p>We’ve notified the Data Collections team of this
problem. They’ll investigate it urgently.</p>

<p>Any provider’s that have tried to access this service
since it went down will be emailed automatically
when it is back up.</p>

<p>For more information, contact the Data Collections
team.</p>

  </div>
</div>

{% endblock %}
