
{% extends "layout_v1.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<a href="search-results.html" class="govuk-back-link">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        
       
       
        <h1 class="govuk-heading-xl">Manchester provider 1 <span class="govuk-caption-l">UKPRN: 12345</span></h1>
        <p>This provider has the following collections types available:</p>
        <ul class="govuk-list govuk-list--bullet">
  <li>ILR</li>
  <li>EAS</li>
  <li>ESF (6 contracts)</li>
</ul>
        <p><a href="#">Period end reports are available in the hub</a></p>
               
        
        <div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Activity for Manchester provider 1
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
        Submission history
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Reports history
      </a>
    </li>
    
  </ul>

  <section class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l" id="submission">Submission history  <span class="govuk-caption-l">RO2</span></h2>
             
              <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Dates and file name</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Date</th>
        <th class="govuk-table__header" scope="col">Type</th>
      <th class="govuk-table__header" scope="col">File</th>
        <th class="govuk-table__header" scope="col">Reference</th>
    <th class="govuk-table__header" scope="col">Reports</th>
    
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">30 October 2018</th>
        <td class="govuk-table__cell">ILR</td>
        <td class="govuk-table__cell"><a href="#">ILR-12345678-1819-20180806-05092018-02.XML</a></td>
         <td class="govuk-table__cell">300</td>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a></td>
    
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">28 October 2018</th>
        <td class="govuk-table__cell">ESF</td>
        <td class="govuk-table__cell"><a href="#">SUPPDATA-12345678-ESF-8976-20180806-151209.CSV</a></td>
         <td class="govuk-table__cell">295</td>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a></td>
        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">24 October 2018</th>
        <td class="govuk-table__cell">ILR</td>
        <td class="govuk-table__cell"><a href="#">ILR-12345678-1819-20180806-05092018-01.XML</a></td>
         <td class="govuk-table__cell">200</td>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a></td>

    </tr>
  </tbody>
</table>
                

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l" id="reports">Reports history</h2>
        <p>View the final reports from each period at the time of close.</p><p>The reports download includes the last validation and submission files.</p>       
        <h3 class="govuk-heading-m">Academic year 2018 to 2019</h3>
       
        <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Return period and download</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Return period</th>
      <th class="govuk-table__header" scope="col">Download</th>
     
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R01</th>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>    
  </tbody>
</table>
				
        <h3 class="govuk-heading-m">Academic year 2017 to 2018</h3>
       
        <table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Return period and download</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Return period</th>
        <th class="govuk-table__header" scope="col">Download</th>
     
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R14</th>
        <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R13</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.2MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R12</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.8MB)</td>        
    </tr>
       <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R11</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.1MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R10</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.2MB)</td>        
    </tr>
      <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R09</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.9MB)</td>        
    </tr>
       <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R08</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.7MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R07</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.7MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R06</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R05</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R04</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.3MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R03</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.5MB)</td>        
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">R02</th>
      <td class="govuk-table__cell"><a href="#">REPORTS-12345678-1819-20180806-151209-02.ZIP</a> (Zip, 1.7MB)</td>        
    </tr>     
  </tbody>
</table>
        
        

  </section>
  
</div>

         <div class="govuk-form-group">
  <label class="govuk-label govuk-!-width-two-thirds" for="search-provider">
    Search for a provider
  </label>
  <span id="search-provider-hint" class="govuk-hint">
   You can use the provider name, UKPRN or UPIN
  </span>
  <input class="govuk-input govuk-!-width-two-thirds" id="search-provider" name="search-provider" type="text" aria-describedby="search-provider-hint">
</div>
<a href="search-results.html" type="submit" class="govuk-button">
  Search
</a>
        
		
</div>
</div>

{% endblock %}
