<aside class="interruption-card">
         <div class="data">
		<span class="data-item bold-xlarge">15 days</span>
		<p class="govuk-body-white">until return period (R02) closes on 6th October 2018 at 6.00 PM</p>
	</div>
</aside>
			 
<aside role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
           Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="https://www.gov.uk/government/publications/ilr-guides-and-templates-for-2017-to-2018" target="_blank">
                  ILR provider support manual - guide to making ILR returns  
                </a>
              </li> 
				<li>
                <a href="https://www.gov.uk/education/data-collection-for-further-education-providers" target="_blank">
                  ILR specification, validation and funding rules  
                </a>
              </li>
				<li>
                <a href="https://www.gov.uk/government/publications/ilr-data-check-that-it-meets-standards-and-quality-requirements" target="_blank">
                  ILR data: check that it meets standards and quality requirements 
                </a>
              </li>  
            </ul>
          </nav>
        </aside>