<div class="sticky-top">

  <ul class="govuk-list">
    <div class="left-navigation-2">
    <li>
      <a id="1" class="govuk-link"  href="provider-record">Latest submissions</a>
    </li>
    <li>
      <a id="2" class="govuk-link" href="historical-in-period" >Submission history</a>
    </li>
    <li>
      <a id="3" class="govuk-link" href="frm" >FRM reports</a>
    </li>
    <li>
      <a id="4" class="govuk-link" href="unsubmitted-files-v2" >Unsubmitted files</a>
    </li>
    <li>
      <a id="#" class="govuk-link" href="funding-claims" >Funding claims</a>
    </li>
    </div>
  </ul>

  
  
    <a class="govuk-!-font-size-16 back-to-top hidden" href="#"><svg focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top</a>


    
</div>

