<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <a href="dashboard.html" class="govuk-back-link">Back</a>
          <br> <br>
          <h1 class="govuk-heading-s">{{ data['input-autocomplete'] }}<span class="govuk-caption-m govuk-!-font-size-16">UKPRN: 00012345, UPIN: 1234</span></h1>
          
        </div>
        <div class="govuk-grid-column-one-third margin-top-20">
      
            <div class="standard-search">
                
                  
                    <span class="govuk-body white-text">Search for a provider</span>
                    <br> <br>
                    <form class="govuk-form-group" action="provider-record">
                      <div id="tt-overlay" class="autocomplete-wrapper"></div>
                      <button id="searchProviders" type="search" class="govuk-button" ><img src="https://assets.publishing.service.gov.uk/frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png"></img></button>
                    </form>
                  
              </div>
        </div>
      </div>