<aside class="interruption-card">
  <div class="data">
<span class="data-item bold-xlarge">4 days</span>
<p class="govuk-body-white">until <span class="govuk-!-font-weight-bold">year end closes</span> on Thursday 7 February at 6:00pm</p>
</div>
</aside>

<aside role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
           More actions
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="provider-record">
                 View ILR data
                </a>
              </li>
            </ul>
            
          </nav>
        </aside>
