
{% extends "layout_blank.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Data Collections Transformation Support Interface
      </h1>
      <p>
        Please do not enter any personal information. This prototype is not secure.
      </p>

     <table class="govuk-table">
  <caption class="govuk-table__caption visually-hidden">List of versions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Version</th>
		<th class="govuk-table__header" scope="col">Updates</th>
      <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.9.1<p>02/09/2019</p></th>
        <td class="govuk-table__cell">
          <p>Support interface MVS</p>
          <ul class="govuk-list govuk-list--bullet">
            
              <li><a href="1-9-1/search-results.html">Mayoral reports</a> for certain providers added</li>
              <li><a href="1-9-1/provider-record.html">Collection years</a> added for overlapping periods</li>
              <li><a href="1-9-1/unsubmitted-files-4-periods.html">Unsubmitted files</a> added for overlapping periods</li>

          </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-9-1/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-3-0/lynn.html">Operations View</a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.9.0<p>28/05/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface MVS</p>
            <ul class="govuk-list govuk-list--bullet">
                                
              <li><a href="1-9-0/unsubmitted-files-v2.html">Unsubmitted files update</a> with overlapping periods and reference column added</li>
              <li><a href="1-9-0/unsubmitted-files.html">Unsubmitted files</a> added</li>

            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-9-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-3-0/lynn.html">Operations View</a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.8.0<p>29/04/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface MVS</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a href="1-8-0/funding-claims.html">Funding claims</a> added</li>

            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-8-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-3-0/lynn.html">Operations View</a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.7.0<p>21/02/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface MVS - Stopped 28/02/2019</p>
            <p>Changes can be compared with the last stopped version 1.3.0</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Updated collection type tags on <a href="1-7-0/provider-record.html">Provider records</a></li>
              <li>Removed older submissions section <a href="1-7-0/provider-record.html">Provider records</a></li>
              <li>Added in last <a href="1-7-0/provider-record.html">3 return periods</a></li>
              <li>New filters for <a href="1-7-0/provider-record.html">Collection types</a></li>
              <li>New filters for <a href="1-7-0/provider-record.html">Years</a></li>
              <li>Renamed 'Submission history' to '<a href="1-7-0/provider-record.html">Last 3 months</a>' </li>
              <li>Renamed 'Reports history' to '<a href="1-7-0/provider-record.html">History (incl. reports)</a>'</li>
              <li>New Related content and <a href="1-7-0/search-results.html">Tools and services</a></li>
              <li>Label added to <a href="1-7-0/provider-record.html">search field</a></li>
              <li><a href="1-7-0/search-results.html">Tools and services</a> links updated</li>
              <li>Added latest submission into <a href="1-7-0/search-results.html">search results cards</a> for each collection type</li>
              <li>Updated content on the <a href="1-7-0/search-results.html">blue box</a> with closing message</li>
              <li>Added <a href="1-7-0/service-down-page.html">service down page</a></li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-7-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-3-0/lynn.html">Operations View</a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.6.0<p>12/02/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface MVS</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Tools and services links updated</li>
                <li>Added latest submission into <a href="1-6-0/search-results.html">search results cards</a> for each collection type</li>
                <li>Updated content on <a href="1-6-0/search-results.html">15 days blue box</a> closing message</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-6-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-3-0/lynn.html">Operations View</a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.5.0<p>25/01/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface MVS</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Updated tags on provider record page</li>
                <li>Removed older submissions section <a href="1-5-0/provider-record.html">Provider record</a></li>
                <li>Added in last <a href="1-5-0/provider-record.html">3 return periods</a></li>
                <li>New filters for <a href="1-5-0/provider-record.html">Collection types</a></li>
                <li>New filters for <a href="1-5-0/provider-record#past-week.html">Years</a></li>
                <li>Renamed 'Submission history' to 'Last 3 months' <a href="1-5-0/provider-record.html">Years</a></li>
                <li>Renamed 'Reports history' to 'History (incl. reports)' <a href="1-5-0/provider-record.html">Years</a></li>
                <li>New Related content and Tools and services <a href="1-5-0/search-results.html">Side bar</a></li>
                <li>Lable added to <a href="1-5-0/provider-record.html">search field</a></li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-5-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-3-0/lynn.html">Operations View</a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.4.0<p>15/01/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface MVS</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Updated tags on provider record page</li>
                <li>Removed older submissions section <a href="1-4-0/provider-record.html">Provider record</a></li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-4-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-3-0/lynn.html">Operations View</a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.3.0<p>03/12/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface MVS - stopped 03/12/2018</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Moved tags on provider record </li>
                <li>Added date to submission history and updated download links/names</li>

            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-3-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-3-0/lynn.html">Operations View</a>--></td>
    </tr>
      <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.2.0<p>30/11/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>updated search results page to remove banner and added date</li>
                <li>moved search functionality up on the provider record</li>
                <li>updated dashboard page content and links</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-2-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-2-0/lynn.html">Operations View</a>--></td>
    </tr>
       <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.1.0<p>19/11/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>updated search results page</li>
                <li>added submitted by</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-1-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><a href="1-1-0/lynn.html">Operations View</a></td>
    </tr>
          <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.0.0<p>23/10/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>provider search function</li>
                <li>in-period activity per provider</li>
                <li>provider reports history</li>
                <li>login</li>
                <li>operations dashboard</li>
                <li>processing queue </li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-0-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><a href="1-0-0/lynn.html">Operations View</a></td>
    </tr>


  </tbody>
</table>


    </div>
</div>

{% endblock %}
